button {
  background-color: #0028fd;
  color: #fafd60;
  font-family: "Nunito Sans";
  font-weight: 700;
  border-radius: 25px;
  border: none;
  width: fit-content;
}

@media (max-width: 592px) {
  button {
    font-size: 1rem;
    padding: 0.4em 0.9em;
  }
}

@media (min-width: 592px) {
  button {
    font-size: 20px;
    padding: 8px 16px;
  }
}
