body .about {
  width: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.about .bg-img {
  position: fixed;
  opacity: 0.4;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  object-position: top left;
  height: calc(var(--vh, 1vh) * 100);
  transition: opacity 0.2s;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
  margin-bottom: 50px;
  border-bottom: 1px solid grey;
  padding-right: 24px;
}

.site-branding h1 {
  text-align: center;
  font-family: "Luckiest Guy";
  text-decoration: none;
  color: black;
  width: fit-content;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 0.4em 0;
  margin-left: 12px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  display: flex;
}

.star-medium {
  margin-left: 8px;
  margin-bottom: 24px;
}

.card-about {
  background-color: #22d481;
  border: 1.3px solid grey;
}

.card-about:hover {
background-color: #23df87;
}

.card p a {
  color: black;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 992px) {
  .hide-on-small {
    display: none;
  }
  .show-on-small {
    display: block;
  }
  .card {
    width: max(200px, 90vw);
    flex-direction: column;
    margin: 1rem 1.5rem;
    box-sizing: border-box;
    height: fit-content;
  }
  .card-container .star {
    position: absolute;
    padding-left: 240px;
    margin-top: -26px;
  }
  .card-container button {
    margin-left: 60%;
  }
  .card-about img {
    width: 90%;
    margin: 0 5%;
    object-fit: contain;
    object-position: 10% center;
  }
  .card-text {
    z-index: 1;
    margin: -32px 22px 40px 12px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
  .card p {
    box-sizing: border-box;
    width: 90%;
    margin: 0.4em 5%;
    font-size: 1.1rem;
    line-height: 1.55rem;
  }
  .site-branding h1 {
    font-size: calc(1.2em + 0.8vw);
    line-height: calc(1.2em + 0.8vw);
  }
}

@media (min-width: 992px) {
  .hide-on-small {
    display: block;
  }
  .show-on-small {
    display: none;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
  .card {
    margin: auto;
    width: max(700px, 50vw);
    flex-direction: row;
    box-sizing: border-box;
    height: fit-content;
  }
  .card-about img {
    width: 50%;
    margin: 0;
    object-fit: contain;
    object-position: 10% center;
  }
  .card-text {
    z-index: 1;
    margin: 24px 16px 36px -10px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
  }
  .card p {
    box-sizing: border-box;
    font-weight: 400;
    width: 90%;
    margin: 0.4em 5%;
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .site-branding h1 {
    font-size: calc(2em + 5px);
  }
  .card-container .star {
    position: absolute;
    padding-left: 45%;
    margin-top: -26px;
  }
  .card-container button {
    margin-top: 24px;
    margin-left: 60%;
  }
}
