* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: block;
  color: black;
  scroll-behavior: smooth;
  min-height: 100vh;
}

.resume {
  width: max(630px, 100vw);
  height: 100%;
  background-color: rgb(255, 238, 221);
  padding: 30px;
  box-sizing: content-box;
}

.resume button {
  margin-left: 12px;
  margin-bottom: 16px;
}
